<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="Home">
        <link rel="stylesheet" href="../resources/css/site.css" />
        <title>Home</title>
    </head>
    <body>
        $body$
        <ul>
            <li><a href="./about">About</a></li>
            <li><a href="./resume">My Resume</a></li>
            <li><a href="./contact">Contact Me</a></li>
        </ul>
    </body>
</html>